.about {
    height: 100%;
}

.col {
    height: 100%;
}

.imageCol {
    display: flex;
    /* align-items: center; */
}

.myImage {
    filter: drop-shadow(0px 0px 10px #222); 
    width: 100%;
    height: auto;
}

.mainContent {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    height: 100%;
}

.textContainer {
    font-size: 20px;
    width: 90%;
    /* font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif */
}

.imageContainer {
    width: 400px;
    max-height: 450px;
    height: 100%;
    overflow: hidden;
    padding: 24px;
    border-bottom: rgba(0, 0, 0, 0.6) solid 2px;
    box-shadow: 0 10px 8px -8px rgba(0, 0, 0, 0.6);
    margin-top: 60px;

}
