.central {
    letter-spacing: 4px;

    position: fixed;
    left: 0;
    right: 0;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.orange {
    color: #ed801e;
}

.title3 {
    font-size: 100px;
    color: black;
    line-height: 90%;
}

.subtitle3 {
    line-height: 90%;
    color: #999999;
    text-align: justify;
    margin-top: 16px;
}

/* Used to add content so justify works on single line */
.subtitle3:after {
    content: "";
    display: inline-block;
    width: 100%;
}

.centralText {
    top: 33%;
}

.options {
    top: 33%;
    margin-top: 240px;
}

.options > div {
    font-size: 30px;
    line-height: 160%;
}

.centralContentRow {
  position: fixed;
  width: 1000px;
}
