.central {
    letter-spacing: 4px;

    position: fixed;
    left: 0;
    right: 0;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.orange {
    color: var(--primaryHighlight);
}

.title {
    font-size: 100px;
    color: var(--primaryText);
    line-height: 90%;
}

.subtitleButton {
    /* Remove button styling */
    all: unset;
    cursor: pointer;
}

.subtitle {
    line-height: 30px;
    color: var(--secondaryText);
    text-align: justify;
    padding-top: 12px;
    width: 96%;
    text-shadow: 1px 1px var(--primaryBackground);
    white-space: pre-wrap;
}

/* Enable accessibility highlighting when tab focus to the button */
.subtitle:focus-visible {
    outline: var(--primaryText) 4px auto;
}

/* Used to add content so justify works on single line */
.subtitle:after {
    content: "";
    display: inline-block;
    width: 100%;
}

.subtitle > * {
    margin-top: 16px;

}

.centralText {
    top: 33%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.options {
    top: 33%;
    margin-top: 240px;
}

.options > div {
    font-size: 30px;
    line-height: 160%;
}

.centralContentRow {
  position: fixed;
  width: 1000px;
}
