body {
    background-color: var(--primaryBackground);
    font-family: 'Gloria Hallelujah';
}

:root {
    --primaryText: #000000;
    --secondaryText: #969696;
    --tertiaryText: #dfdfdf;
    --primaryHighlight: #ed801e;
    --primaryBackground: #f8f8f8;
  }