body {
    background-color: var(--primaryBackground);
    font-family: 'Gloria Hallelujah';
}

:root {
    --primaryText: #000000;
    --secondaryText: #999999;
    --primaryHighlight: #ed801e;
    --primaryBackground: #f8f8f8
  }