.options {
    font-size: 40px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

    /* Remove bullets */
    list-style-type: none;
    padding: 0;
    margin: 0;

    /* Make it so list items define the width */
    width: 0px;
}

.options:hover {
    color: #0008;
}

.option {
    padding-left: 0px;
    width: fit-content;
    transition: padding-left 0.5s, color 0.5s
}

.option:hover {
    padding-left: 12px;
    cursor: pointer;
    color: black;
}

/* Remove the default stlying for <a> elements created by react-router */
.option > a {
    color: inherit;
    text-decoration: none;
}

.icon {
    padding-right: 8px;
}

/* Navbar */
.navbarContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.navbarOptions {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    /* General styling */
    font-size: 20px;
    letter-spacing: 2px;
    font-weight: normal;

    /* Remove bullets */
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.navbarOption:not(:last-child) {
    margin-right: 72px;
}

.navbarOption:last-child {
    margin-right: 20px;
}

.navbarOption > a {
    color: inherit;
    text-decoration: none;
}

.navbarOption {
    color: black;
    transition: color .25s ease;
}
/* 
.navbarOption:hover {
    border-bottom: 1px solid black;
} */

/* .navbarOption:after {
    content: '';
    display: block;
    margin: auto;
    height: 2px;
    width: 0px;
    background: transparent;
    transition: width .5s ease, background-color .5s ease;
}
.navbarOption:hover:after {
    width: 100%;
    background-color: red;
} */

/* TODO use defined colour values */
.red:hover {
    color: red;

}
.blue:hover {
    color: blue;
}
.yellow:hover {
    color: yellow;
}
.purple:hover {
    color: purple
}

.navbarOptionText,
.navbarIcon {
    /* Remove button styling */
    all: unset;
    cursor: pointer;
}

.navbarIcon {
    color: var(--secondaryText);

}

.navbarOptionText:hover {
    /* color: blue; */
}

.navbarOptionText > span {
    writing-mode: vertical-lr;
    transform: rotateZ(180deg);
}

.divider {
    /* Divider at bottom */
    padding-bottom: 8px;
    border-bottom: 1px solid #bbb;
     border-image: linear-gradient(90deg, rgba(60,74,83,.00), rgba(60,74,83,0.90)) 1;
    width: 50%;
}


/* Restyle  */
.navbarOptions2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;

    /* Remove bullets */
    list-style-type: none;
    padding: 0;
    margin: 0;

    font-size: 30px;
}

.navbarOption2 {
    /* transform: rotateZ(180deg); */
    writing-mode: vertical-lr;
    color: var(--secondaryText);
    text-decoration: none;
    height: 140px;
    display: flex;
    justify-content: center;
    transition: color .5s ease;
}

.navbarOption2 > button {
    color: inherit;
    text-decoration: none;
    writing-mode: vertical-lr;
}

.isActive {
    color: var(--primaryText);
}

.orange {
    color: var(--primaryHighlight);
    font-size: 48px;
    line-height: 60%;
}